# ========================
# Gradle
# ========================
.gradle/
**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# ========================
# Android Studio / IntelliJ
# ========================
*.iml
*.iws
*.ipr

.idea/
.claude/

#.idea/caches/
#.idea/libraries/
#.idea/modules.xml
#.idea/workspace.xml
#.idea/navEditor.xml
#.idea/assetWizardSettings.xml
#.idea/.gitignore
#
# ========================
# Local configs (민감 정보)
# ========================
local.properties
*.local.properties

# ========================
# Keystore (절대 커밋 금지)
# ========================
*.jks
*.keystore
*.p12

# ========================
# 빌드 산출물
# ========================
*.apk
*.aab
*.ap_
*.dex

# ========================
# NDK / CMake
# ========================
.externalNativeBuild/
.cxx/

# ========================
# 기타
# ========================
captures/
.DS_Store
Thumbs.db
